/* 共通設定 */
body {
    margin: 0px;
}
h1 {
    margin: 0px;
}
a {
    text-decoration: none;
}
.background-gray {
    width: 100%;
    background-color: #f0eff2;
}

/* ヘッダー設定 */
.header {
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #000;
    color: #fff;
}
.header-inner {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 15px;
}
.header-link:hover {
    color: aquamarine;
}
.header-logout {
    color: #fff;
    background-color: #000;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.header-logout:hover {
    cursor: pointer;
    color: aquamarine;
}

/* 成功アラート */
.alert-success {
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(8, 122, 8);
    color: white;
    position: absolute;
    top: 38px;
    z-index: 5;
    animation: alert-animation 3s ease;
}
@keyframes alert-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(44px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}
/* ページタイトル */
.page-title {
    font-size: 30px;
    font-weight: bold;
    border-left: 8px solid #000;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 0px 0px 30px -10px;
}

/* エラーメッセージ */
.error-message {
    color: #ff0000;
    height: 20px;
}

/* 送信ボタン */
.form-button {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    width: 100%;
    padding: 10px;
}
.form-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.info-text {
    color: #ff0000;
    font-size: 18px;
}