.background-gray {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper {
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* 認証確認画面のボタン */
.verify-button {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    border: solid 1px #000;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 15px 23px;
    margin-bottom: 50px;
}
.verify-button:hover {
    opacity: 0.8;
}
/* 認証メール再送リンク */
.verify-email-again {
    font-size: 20px;
    color: #0073cc;
    border: none;
    background-color: transparent;
}
.verify-email-again:hover {
    cursor: pointer;
    opacity: 0.8;
}
