.background-gray {
    min-height: calc(100vh - 82px);
    padding: 80px 0px;
}
.detail-wrapper {
    width: 900px;
    margin: 0 auto;
}

.detail-list {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.detail-list table {
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.detail-list th,
.detail-list td {
    border: none;
    padding: 25px 15px;
    border-bottom: #e1e1e1 2px solid;
}
.detail-list th {
    color: #737373;
    text-align: left;
    padding-left: 60px;
}
.detail-list td {
    text-align: center;
}
.detail-list table th:nth-child(1) {
    width: 28%;
}
.detail-list table td:nth-of-type(1),
.detail-list table td:nth-of-type(3) {
    width: 18%;
}
.detail-list table td:nth-of-type(2) {
    width: 4%;
}
.detail-list table td:nth-of-type(4) {
    width: 32%;
    padding: 0px;
}
textarea {
    width: 100%;
    height: 80px;
    font-weight: bold;
    padding: 10px;
}
input {
    width: 100px;
    font-weight: bold;
    text-align: center;
}
textarea,
input {
    border-radius: 4px;
    border: #d9d9d9 1px solid;
}

.detail-form {
    width: 100%;
}
.button-wrapper {
    text-align: right;
}
.form-button {
    width: 230px;
    padding: 15px;
    border-radius: 5px;
}

.remarks {
    text-align: left;
}
/* エラーメッセージ */
.error-message {
    font-size: 14px;
    height: 20px;
}
.up-position {
    transform: translateY(-10px);
}

.approved {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    background-color: #696969;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0;
}