/* タブメニュー */
.requests-tab {
    width: 100%;
    border-bottom: 2px solid #000;
    margin: 40px 0px;
}

/* リスト設定 */
.tab-link {
    display: inline-block;
    color: #000;
    margin: 15px 50px;
}
.tab-link.selected {
    font-weight: bold;
}
.tab-link:hover {
    opacity: 0.7;
}

.requests-list {
    display: block;
    min-height: 350px;
    width: 100%;
}
.requests-list table {
    font-weight: bold;
    color: #737373;
    background-color: #fff;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
}
.requests-list th,
.requests-list td {
    letter-spacing: 1px;
    text-indent: 1px;
    border: none;
    padding: 15px 0px;
}
.requests-list th {
    border-bottom: #e1e1e1 2px solid;
}
.requests-list td {
    border-bottom: #e1e1e1 1px solid;
}
.requests-list table th:nth-child(1),
.requests-list table td:nth-child(1) {
    width: 20%;
}
.requests-list table th:nth-child(n+2),
.requests-list table td:nth-child(n+2) {
    width: calc((100% - 20%) / 5);
}
.detail-link {
    color: #000;
}
.detail-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}






