
.attendance-list table th:nth-child(2),
.attendance-list table td:nth-child(2) {
    width: 18%;
}
.attendance-list table th:nth-child(3),
.attendance-list table td:nth-child(3) {
    width:40%;
}
.attendance-list table th:nth-child(4),
.attendance-list table td:nth-child(4) {
    width:15%;
}
