main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper {
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.verify-button {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    border: solid 1px #000;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 15px 23px;
    margin-bottom: 50px;
}
.verify-button:hover {
    opacity: 0.8;
}

.verify-email-again {
    font-size: 20px;
    color: #0073cc;
    border: none;
    background-color: transparent;
}
.verify-email-again:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header {
    position: relative;
    z-index: 10;
}
.alert-success {
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(8, 122, 8);
    color: white;
    position: absolute;
    top: 38px;
    z-index: 5;
    animation: alert-animation 3s ease;
}
@keyframes alert-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(44px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}